body {
    font-family: 'Catamaran', sans-serif;
    background-color: #131418;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    margin: 0;
}
header {
    font-size: 20px;
}
nav {
    display: flex;
    justify-content: flex-end;
}
nav > a {
    color: #2D303A;
    margin-top: 2%;
    margin-right: 3%;
    text-decoration: none;
}
nav > a:hover {
    color: #ffffff;
}
#active {
    color: #0EBEFF;
}
main {
    color: #ffffff;
    margin: 3%;
    padding: 5%;
    background-color: #2D303A;
}
.container1 {
    display: flex;
    justify-content: center;
    align-items: flex-start;
}
.personally {
    color: #0EBEFF;
}
.container2 {
    margin-right: 3%;
}
.contactme {
    width: 10%;
    height: 10%;
}
fieldset {
    border: none;
}
h2 {
    margin-bottom: -2%;
}
input[type=text] {
    border: none;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}
input[type=email] {
    border: none;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}
#message {
    border: none;
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
}
.container3 {
    display: flex;
    justify-content: space-between;
}
.container6 {
    display: flex;
    justify-content: flex-end;
}
#submit {
    font-family: 'Catamaran', sans-serif;
    font-size: 20px;
    margin-top: 4%;
    border: none;
    background-color: #131418;
    color: #ffffff;
}
footer {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 1%;
    width: 100%;
}
.socialmedia {
    display: flex;
    justify-content: space-between;
    margin: auto;
    width: 8%;
}
.github {
    width: 50px;
    border-radius: 50%;
}
.linkedin {
    width: 50px;
    border-radius: 50%;
}
@media (max-width:450px) {
    header {
        font-size: 16px;
    }
    main {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
        margin: 5%;
        padding: 2%;
    }
    input[type=text] {
        width: 70%;
        font-size: 16px;
    }
    input[type=email] {
        width: 70%;
        font-size: 16px;
    }
    #message {
        width: 70%;
        font-size: 16px;
    }
    h1 {
        text-align: center;
    }
    .contactme {
        width: 100px;
        height: 100px;
    }
    .container1 {
        display: flex;
        flex-direction: column-reverse;
        align-items: center;
    }
    .container3 {
        display: flex;
        flex-direction: column;
    }
    .container6 {
        display: flex;
        justify-content: flex-start;
    }
    footer {
        margin: 0;
    }
    .socialmedia {
        display: flex;
        justify-content: space-around;
        margin: 0;
        width: 100%;
    }
    .github {
        width: 70px;
        border-radius: 50%;
    }
    .linkedin {
        width: 70px;
        border-radius: 50%;
    }
}