body {
    font-family: 'Catamaran', sans-serif;
    background-color: #131418;
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
header {
    grid-area: header;
    text-align: center;
    font-size: 24px;
    color: #0EBEFF;
}
main {
    grid-area: main;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.geolocation {
    margin: 3%;
    padding: 3%;
}
#instruct {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
#demo {
    font-family: 'Catamaran', sans-serif;
    font-size: 18px;
    color: #ffffff;
}
#getLocation {
    border: none;
    background-color: #2D303A;
    color: #ffffff;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
}
.stressReliever {
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #DB6B5C;
    margin-bottom: 5%;
}
.kittyKontainer {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.kitty {
    width: 70%;
}
.patcount {
    font-size: 14px;
}
#text {
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    color: white;
    background: #F4BE82;
    border: none;
}
.buttons {
    display: flex;
    justify-content: space-between;
    width: 70%;
    margin-left: 5%;
}
#save {
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    background-color: #F4BE82;
    color: white;
    border: 3px solid #DB6B5C;
}
#load {
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    background-color: #F4BE82;
    color: white;
    border: 3px solid #DB6B5C;
} 
nav {
    grid-area: nav;
    margin: 3%;
    padding: 5%;
}
#header {
    font-size: 22px;
    color: #0EBEFF;
}
li {
    list-style: none;
    color: #ffffff;
}
input[type=text] {
    border: none;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
    margin-bottom: 5%;
}
#newItemButton {
    display: none;
}
#add {
    border: none;
    background-color: #2D303A;
    color: #ffffff;
    font-family: 'Catamaran', sans-serif;
    font-size: 14px;
}
aside {
    grid-area: aside;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.clock {
    width: 70%;
    padding: 3%;
    background-color: #2D303A;
    display: grid;
    grid-template-rows: 2fr 1fr;
    border: none;
    border-radius: 5px;
    margin-bottom: 3%;
}
.time {
    text-align: center;
    font-size: 32px;
    color: white;
}
.date {
    text-align: center;
    color: white;
}
.calendar {
    width: 75%;
    display: grid;
    grid-template-rows: 1fr 1fr 5fr;
    border: none;
    border-radius: 5px;
    margin-bottom: 3%;
}
.month {
    background-color: #0EBEFF;
    text-align: center;
    font-size: 20px;
    border-bottom: none;
    color: white;
}
.daysoftheweek {
    background-color: #2D303A;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
    font-size: 18px;
    border-bottom: none;
    color: #ffffff;
}
.days {
    background-color: #ffffff;
    color: #0EBEFF;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    text-align: center;
}
.lastmonth {
    color: #2D303A;
}
.nextmonth {
    color: #2D303A;
}
#calc {
    margin-bottom: 5%;
}
input {
    width: 236px;
    height: 30px;
    margin-left: 1px;
    padding-left: 3px;
    font-family: 'Catamaran', sans-serif;
    border: none;
    background-color: #2D303A;
    color: white;
}
.button {
    border: none;
    background-color: #2D303A;
    color: white;
    width: 56px;
    height: 64px;
    text-align: center;
    cursor: pointer;
    font-family: 'Catamaran', sans-serif;
}
.notaNumber {
    background-color: #0EBEFF;
}
#equals {
    background-color: white;
    color: #2D303A;
}
.banner {
    grid-area: banner;
    margin: auto;
}
footer {
    grid-area: footer;
}
.container {
    display: grid; /* Using the grid */
    grid-template-areas: /* Notice how I've stacked my areas, just like they look on the page! */
      "header"
      "nav"
      "main"
      "aside"
      "banner"
      "footer";
}
@media (min-width: 500px) {
    .container {
      display: grid;
      grid-template-columns: 1fr 3fr; /* the first column is 1 unit (fraction), the second column is 3 units */
      grid-template-areas: /* stack the components how you want them to appear in the columns */
        "header  header" /* stretch header across both columns at the top */
        "nav     nav"
        "aside   main" /* stack these horizontally, aside first, etc */
        "banner  footer";
    }
    body {
        background-size: 100% 200%;
    }
    nav ul {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      line-height: 25px;
    }
}
@media (min-width: 700px) {
    .container {
      grid-template-columns: 1fr 4fr 1fr;
      grid-template-areas: 
        "header header  header"
        "nav    main    aside"
        "nav    main    banner"
        "footer footer  footer"
    }
    header {
        font-size: 36px;
    }
    nav ul {
       display: flex;
       flex-direction: column;
       justify-content: space-between;
       margin: auto;
       margin-left: -20%;
       width: 175%;
       line-height: 25px;
    }
    .stressReliever {
        display: flex;
        flex-direction: column;
        align-items: center;
        color: #DB6B5C;
    }
    .kittyKontainer {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .kitty {
        width: 20%;
    }
    .patcount {
        font-size: 16px;
    }
    #text {
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        color: white;
        background: #F4BE82;
        border: none;
    }
    .buttons {
        display: flex;
        justify-content: space-between;
        width: 20%;
        margin-left: 5%;
    }
    #save {
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        background-color: #F4BE82;
        color: white;
        border: 3px solid #DB6B5C;
    }
    #load {
        font-family: 'Catamaran', sans-serif;
        font-size: 16px;
        background-color: #F4BE82;
        color: white;
        border: 3px solid #DB6B5C;
    }
    .clock {
        width: 100%;
        padding: 3%;
        background-color: #2D303A;
        display: grid;
        grid-template-rows: 2fr 1fr;
        border: none;
        border-radius: 5px;
        margin-bottom: 3%;
        margin-right: 5%;
    }
    .calendar {
        width: 125%;
        display: grid;
        grid-template-rows: 1fr 1fr 5fr;
        border: none;
        border-radius: 5px;
        margin-bottom: 3%;
        margin-left: -25%;
    }
    #calc {
        margin-bottom: 5%;
    }
    input {
        width: 116px;
        margin-left: 1px;
        padding-left: 3px;
        font-family: 'Catamaran', sans-serif;
        border: none;
        background-color: #2D303A;
        color: white;
    }
    .button {
        border: none;
        background-color: #2D303A;
        color: white;
        width: 26px;
        height: 30px;
        text-align: center;
        cursor: pointer;
        font-family: 'Catamaran', sans-serif;
    }
    .notaNumber {
        background-color: #0EBEFF;
    }
    #equals {
        background-color: white;
        color: #2D303A;
    }
}
