body {
  font-family: 'Catamaran', sans-serif;
  background-color: #131418;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  margin: 0;
}
main {
  font-family: 'Catamaran', sans-serif;
  color: #ffffff;
  margin: 3%;
  padding: 5%;
  background-color: #2D303A;
}
.container1 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
.container2 {
  margin-right: 2%;
  display: flex;
}
.Greeting {
  font-family: 'Catamaran', sans-serif;
}
.socialmedia {
  display: flex;
  justify-content: space-between;
  margin: auto;
  width: 12%;
}
.github {
  width: 50px;
  border-radius: 50%;
}
.linkedin {
  width: 50px;
  border-radius: 50%;
}
h1 {
  color: #0EBEFF;
}
.myname {
  color: #0EBEFF;
}
.contactme {
  color: #0EBEFF;
  text-decoration: none;
}
.contactme:hover {
  text-decoration: underline;
}
.container3 {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container4 {
  display: flex;
  justify-content: space-around;
  width: 110%;
  margin-bottom: 5%;
}
.container5 {
  display: flex;
  justify-content: space-around;
  width: 110%;
}
.column {
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 1050px) {
  main {
      margin: 5%;
      padding: 2%;
  }
  .socialmedia {
      display: flex;
      justify-content: space-around;
      margin: 0;
      width: 30%;
  }
  .github {
      width: 70px;
      border-radius: 50%;
  }
  .linkedin {
      width: 70px;
      border-radius: 50%;
  }
  .websiteimages {
    width: 70%;
    margin-left: 15%;
  }
  .column {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  main {
      margin: 5%;
      padding: 2%;
  }
  .socialmedia {
      display: flex;
      justify-content: space-around;
      margin: 0;
      width: 30%;
  }
  .github {
      width: 45px;
      border-radius: 50%;
  }
  .linkedin {
      width: 45px;
      border-radius: 50%;
  }
}
@media (max-width: 450px) {
  /* 80% the original size */
  main {
      margin: 5%;
      padding: 2%;
  }
  .container2 {
    margin-right: 2%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5%;
  }
  .socialmedia {
      display: flex;
      justify-content: space-evenly;
      margin: 0;
      width: 50%;
  }
  .github {
      width: 50px;
      border-radius: 50%;
  }
  .linkedin {
      width: 50px;
      border-radius: 50%;
  }
  .container4 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 110%;
    margin-bottom: 5%;
  }
  .container5 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 110%;
  }
}