body {
    background-repeat: no-repeat;
    background-size: 100% 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1 {
    font-family: Arial, sans-serif;
    text-align: center;
    width: 100%;
}
.container {
    background-color: #131418;
    width: 1000px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}
.box1 {
    margin-top: 30px;
    background-color: #e14192;
    width: 50px;
    height: 50px;
    transition: all 0.75s ease-in-out;
}
.container:hover .box1 {
    transform: scale(2) translateX(200px) rotate(-360deg);
}
.box2 {
    margin-top: 5px;
    background-color: #ec5689;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
}
.container:hover .box2 {
    transform: scale(0.5) translateX(-900px) rotate(360deg);
}
.box3 {
    margin-top: 5px;
    background-color: #f4737e;
    width: 50px;
    height: 50px;
    transition: all 0.75s ease-in-out;
}
.container:hover .box3 {
    transform: scale(2) translateX(200px) rotate(-360deg);
}
.box4 {
    margin-top: 5px;
    background-color: #f5926e;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
}
.container:hover .box4 {
    transform: scale(0.5) translateX(-900px) rotate(360deg);
}
.box5 {
    margin-top: 5px;
    background-color: #edb066;
    width: 50px;
    height: 50px;
    transition: all 0.75s ease-in-out;
}
.container:hover .box5 {
    transform: scale(2) translateX(200px) rotate(-360deg);
}
.box6 {
    margin-top: 5px;
    background-color: #e0cb6e;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
}
.container:hover .box6 {
    transform: scale(0.5) translateX(-900px) rotate(360deg);
}
.box7 {
    margin-top: 5px;
    background-color: #a1f798;
    width: 50px;
    height: 50px;
    transition: all 0.75s ease-in-out;
}
.container:hover .box7 {
    transform: scale(2) translateX(200px) rotate(-360deg);
}
.box8 {
    margin-top: 5px;
    background-color: #72d6bf;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
}
.container:hover .box8 {
    transform: scale(0.5) translateX(-900px) rotate(360deg);
}
.box9 {
    margin-top: 5px;
    background-color: #86b3d3;
    width: 50px;
    height: 50px;
    transition: all 0.75s ease-in-out;
}
.container:hover .box9 {
    transform: scale(2) translateX(200px) rotate(-360deg);
}
.box10 {
    margin-top: 5px;
    background-color: #007ca5;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
}
.container:hover .box10 {
    transform: scale(0.5) translateX(-900px) rotate(360deg);
}
.box11 {
    margin-top: 5px;
    background-color: #32327c;
    width: 50px;
    height: 50px;
    transition: all 0.75s ease-in-out;
}
.container:hover .box11 {
    transform: scale(2) translateX(200px) rotate(-360deg);
}
.box12 {
    margin-top: 5px;
    margin-bottom: 5px;
    background-color: #5c2d7a;
    width: 50px;
    height: 50px;
    transition: all 1s ease-in-out;
}
.container:hover .box12 {
    transform: scale(0.5) translateX(-900px) rotate(360deg);
}
@media (max-width: 450px) {
    h1 {
        font-size: 24px;
    }
    .container {
        width: 350px;
    }
    .box1 {
        margin-top: 25px;
        background-color: #e14192;
        width: 40px;
        height: 40px;
    }
    .container:hover .box1 {
        transform: scale(2) translateX(60px) rotate(-360deg);
    }
    .box2 {
        margin-top: 5px;
        background-color: #ec5689;
        width: 40px;
        height: 40px;
        transition: all 1s ease-in-out;
    }
    .container:hover .box2 {
        transform: scale(0.5) translateX(-300px) rotate(360deg);
    }
    .box3 {
        margin-top: 5px;
        background-color: #f4737e;
        width: 40px;
        height: 40px;
    }
    .container:hover .box3 {
        transform: scale(2) translateX(60px) rotate(-360deg);
    }
    .box4 {
        margin-top: 5px;
        background-color: #f5926e;
        width: 40px;
        height: 40px;
        transition: all 1s ease-in-out;
    }
    .container:hover .box4 {
        transform: scale(0.5) translateX(-300px) rotate(360deg);
    }
    .box5 {
        margin-top: 5px;
        background-color: #edb066;
        width: 40px;
        height: 40px;
    }
    .container:hover .box5 {
        transform: scale(2) translateX(60px) rotate(-360deg);
    }
    .box6 {
        margin-top: 5px;
        background-color: #e0cb6e;
        width: 40px;
        height: 40px;
        transition: all 1s ease-in-out;
    }
    .container:hover .box6 {
        transform: scale(0.5) translateX(-300px) rotate(360deg);
    }
    .box7 {
        margin-top: 5px;
        background-color: #a1f798;
        width: 40px;
        height: 40px;
    }
    .container:hover .box7 {
        transform: scale(2) translateX(60px) rotate(-360deg);
    }
    .box8 {
        margin-top: 5px;
        background-color: #72d6bf;
        width: 40px;
        height: 40px;
        transition: all 1s ease-in-out;
    }
    .container:hover .box8 {
        transform: scale(0.5) translateX(-300px) rotate(360deg);
    }
    .box9 {
        margin-top: 5px;
        background-color: #86b3d3;
        width: 40px;
        height: 40px;
    }
    .container:hover .box9 {
        transform: scale(2) translateX(60px) rotate(-360deg);
    }
    .box10 {
        margin-top: 5px;
        background-color: #007ca5;
        width: 40px;
        height: 40px;
        transition: all 1s ease-in-out;
    }
    .container:hover .box10 {
        transform: scale(0.5) translateX(-300px) rotate(360deg);
    }
    .box11 {
        margin-top: 5px;
        background-color: #32327c;
        width: 40px;
        height: 40px;
    }
    .container:hover .box11 {
        transform: scale(2) translateX(60px) rotate(-360deg);
    }
    .box12 {
        margin-top: 5px;
        background-color: #5c2d7a;
        width: 40px;
        height: 40px;
        transition: all 1s ease-in-out;
    }
    .container:hover .box12 {
        transform: scale(0.5) translateX(-300px) rotate(360deg);
    }
}